@charset "utf-8";

body {
    flex-direction: row;
}

header {
    display: flex; flex-direction: column; align-items: stretch;
    padding: 1em;
}

header b {
    display: none;
}

nav {
    height: 100%;
    flex-direction: column;
}

nav >ul {
    flex-direction: column;
}

nav >ul >li {
    text-align: center;
}

nav >ul >li:not(:last-child) {
    margin-bottom: 3px;
}

nav >ul ul {
    inset: 0 auto auto 100%;
    text-align: initial;
}

nav >ul:last-child ul {
    inset: auto auto 0 100%;
}

nav >ul >li ul::after {
    inset: 5px 100% auto auto;
    border-bottom-color: transparent;
    border-right-color: #efefef;
}

nav >ul:last-child ul::after {
    inset: auto 100% 5px auto;
}

nav >ul >li >a {
    padding: 5px;
    font-size: 30px;
    font-weight: bold;
    width: 100%;
    border: 1px solid rgba(200, 200, 200, 0.5);
    box-sizing: border-box;
}

nav >ul >li >a >div {
    font-size: 12px;
    display: block;
}

.account {
    display: none;
}